<div class="row" id="sb-editor-grids">
    <div class="col-sm-9">
      <div class="grid top left"><h4>
        {{title}}
      </h4></div>
      <!-- Grey navigation panel -->
    </div>

    <div class="col-sm-3">
      <!-- Teal page content  -->
      <div class="grid top right"></div>
    </div>
    <div class="col-sm-9">
      <!-- Grey navigation panel -->
      <div class="grid bottom left">
      <app-consumer></app-consumer>
      </div>
    </div>

    <div class="col-sm-3">
      <!-- Teal page content  -->
      <div class="grid bottom right">
        <app-editor></app-editor>
      </div>
    </div>
</div>

