<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <label (click)="openActionTray($event)">Page</label>
      <span>
        <i class="subcards-toggle">
          <a data-toggle="collapse" href="#collapse1"><i class="material-icons">content_copy</i><span class="card-count">6</span></a>
        </i>
      </span>
      <div class="link">
        <a class="show" title="replace" target="_parent" skiphistory href="#"><i class="material-icons">find_replace</i>
          <span>replace</span>
        </a>
        <a skiphistory title="content" href="#"><i class="material-icons">filter_none</i>
          <span>content</span>
        </a>
        <a  skiphistory title="properties" href="#"><i class="material-icons">tune</i>
          <span>Properties</span>
        </a>
        <a  skiphistory title="style" href="#"><i class="material-icons">colorize</i>
          <span>style</span>
        </a>
        <a  skiphistory title="admin" href="#"><i class="material-icons">supervisor_account</i>
          <span>admin</span>
        </a>

        <a class="cta-addCard" skiphistory title="add" href="#"><i class="material-icons">add_box</i>
          <span>add</span>
        </a>
        <a skiphistory transition="fadein" title="delete" target="_parent" href="#"><i class="icon icon-remove"></i>
          <span>delete</span>
        </a>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <label (click)="openActionTray($event)">Header</label>
      <span>
        <i class="subcards-toggle">
          <a data-toggle="collapse" href="#collapse1"><i class="material-icons">content_copy</i><span class="card-count">6</span></a>
        </i>
      </span>
      <div class="link">
        <a class="show" title="replace" target="_parent" skiphistory href="#"><i class="material-icons">find_replace</i>
          <span>replace</span>
        </a>
        <a skiphistory title="content" href="#"><i class="material-icons">filter_none</i>
          <span>content</span>
        </a>
        <a  skiphistory title="properties" href="#"><i class="material-icons">tune</i>
          <span>Properties</span>
        </a>
        <a  skiphistory title="style" href="#"><i class="material-icons">colorize</i>
          <span>style</span>
        </a>
        <a  skiphistory title="admin" href="#"><i class="material-icons">supervisor_account</i>
          <span>admin</span>
        </a>

        <a class="cta-addCard" skiphistory title="add" href="#"><i class="material-icons">add_box</i>
          <span>add</span>
        </a>
        <a skiphistory transition="fadein" title="delete" target="_parent" href="#"><i class="icon icon-remove"></i>
          <span>delete</span>
        </a>
      </div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <label (click)="openActionTray($event)">Carousel</label>
      <span>
        <i class="subcards-toggle">
          <a data-toggle="collapse" href="#collapse1"><i class="material-icons">content_copy</i><span class="card-count">6</span></a>
        </i>
      </span>
      <div class="link">
        <a class="show" title="replace" target="_parent" skiphistory href="#"><i class="material-icons">find_replace</i>
          <span>replace</span>
        </a>
        <a skiphistory title="content" href="#"><i class="material-icons">filter_none</i>
          <span>content</span>
        </a>
        <a  skiphistory title="properties" href="#"><i class="material-icons">tune</i>
          <span>Properties</span>
        </a>
        <a  skiphistory title="style" href="#"><i class="material-icons">colorize</i>
          <span>style</span>
        </a>
        <a  skiphistory title="admin" href="#"><i class="material-icons">supervisor_account</i>
          <span>admin</span>
        </a>

        <a class="cta-addCard" skiphistory title="add" href="#"><i class="material-icons">add_box</i>
          <span>add</span>
        </a>
        <a skiphistory transition="fadein" title="delete" target="_parent" href="#"><i class="icon icon-remove"></i>
          <span>delete</span>
        </a>
      </div>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <label (click)="openActionTray($event)">NewsLetter</label>
      <span>
        <i class="subcards-toggle">
          <a data-toggle="collapse" href="#collapse1"><i class="material-icons">content_copy</i><span class="card-count">6</span></a>
        </i>
      </span>
      <div class="link">
        <a class="show" title="replace" target="_parent" skiphistory href="#"><i class="material-icons">find_replace</i>
          <span>replace</span>
        </a>
        <a skiphistory title="content" href="#"><i class="material-icons">filter_none</i>
          <span>content</span>
        </a>
        <a  skiphistory title="properties" href="#"><i class="material-icons">tune</i>
          <span>Properties</span>
        </a>
        <a  skiphistory title="style" href="#"><i class="material-icons">colorize</i>
          <span>style</span>
        </a>
        <a  skiphistory title="admin" href="#"><i class="material-icons">supervisor_account</i>
          <span>admin</span>
        </a>

        <a class="cta-addCard" skiphistory title="add" href="#"><i class="material-icons">add_box</i>
          <span>add</span>
        </a>
        <a skiphistory transition="fadein" title="delete" target="_parent" href="#"><i class="icon icon-remove"></i>
          <span>delete</span>
        </a>
      </div>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div>
